body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.header a {
  text-decoration: none;
}

.timer {
  font-size: 1.5rem;
  color: black;
}

.start-quiz-container {
  padding: 0.5rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}

.info {
  padding: 2rem;
}

.btn {
  padding: 0.5em;
  background-color: coral;
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.question-container {
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}

.question {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.answers {
  list-style: none;
}

.answers li {
  padding: 1rem;
  width: 50%;
  background-color: cadetblue;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
}

.answers li:hover {
  background-color: rgb(95, 160, 122);
  cursor: pointer;
}
