* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  /* padding: 20px; */
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 248, 252);
  /* position: relative; */
}

.timer {
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 10px;
  /* display: inline-block; */
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  padding: 20px;
  margin: 2px;
  text-align: center;
  background-color: rgb(152, 100, 237);
}

#quiz-intro {
  font-family: Arial, Helvetica, sans-serif;
}

.quiz-intro {
  padding: 2px;
}

.start-button {
  font: large;
}
#start-button {
  font-size: large;
}
